@mixin media-breakpoint-up {
  @media only screen and (min-width: 64em) {
    @content;
  }
}
.alert-secondary {
  background-color: hsl(0, 0%, 95%);
  border-color: #eff0f1;
}

.alert-light {
  background-color: #f6f6f6;
}

.is-invalid.ng-touched {
  border-color: #dc3545;
}

.alert-dark {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #e9ecef;
}

.form-wrap {
  @include media-breakpoint-up() {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2rem;
    .col1 {
      order: 1;
      .sticky-top {
        top: 4rem;
      }
    }
  }
}
